<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LYZButtonEventTimeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AEAEE1001E0BFACB00FD4751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEAEE1191E0BFACB00FD4751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEAEE1241E0BFACB00FD4751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
